@media (min-width: 768px){
.modal-dialog {
    width: 400px;
    margin: 30px auto;
}
@media screen and (max-width : 640px){
	.navbar-nav>li{float: left;}
	.bank{width: initial;}

	.logo-motorola{
		float: none;
		display: block;
		text-align: center;
	}
	.navbar-right {
	    width: 27%;
	    margin: 0 auto;
	}
	.logo-motorola img{
		width: 80%;
		margin: 20px auto;
	}
	.h2, h2 {
	    font-size: 18px;
	}
	.logo-z2play{
		width: 50%;
		margin: 20px 0;
	}
	.h3, h3 {
	    font-size: 16px;
	}
	.spec {
	    margin: 30px 0 0;
	}
	.spec-phone{
		margin: 20px auto 0;
		display: block;
		width: 50%;
	}
	#main-content{
		background: url('../img/m-bg-body-1.jpg') center repeat;
		height: auto;
	}
	.moto-art{
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.unit-moto-play{
		display: block;
		margin: 30px auto 10px;
	}
	.possibilities{
		float: left;
		margin-right: 5px;
	}
	#operators img{width: 100%;}
	.toko-fav .col-xs-6{padding: 0}
	.toko-fav img{width: 80%;}
}
@media screen and (max-width : 480px){
	.bank{width: 68px;}
	.navbar-right {
	    width: 42%;
	    margin: 0 auto;
	}
	.off-store{width: 40% !important; }
}